header {
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

.post-container {
    max-width: 300px;
    margin: 2rem auto;
}

.post-head {
    display: flex;
    justify-content: space-between;
}

.profile, .profile-post, .commenter {
    border-radius: 50%;
}

.profile {
    width: 30px;
}

.comment-content {
    margin: 0
}

.comments-container {
    margin-bottom: 1rem;
    margin-top: 10px;
}